################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArtClub/copilot-chat/a6b8ebb6/sessions
/.vs/ArtClub/CopilotIndices/18.5.39187.10602
/.vs/CopilotSnapshots/AD1348709589344DBDF462D926586740
